body {
  font-family: 'Roboto', sans-serif;
  background-color:rgba(236, 226, 226, 0.5);
  padding: 15px 0px 0px 0px;
  height: 100vh;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 30px 0px 30px 0px;
  background-color:rgb(219 216 227 / 50%);
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
}

.header {
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add__form {
  background: #4CD1C0;
  border: 3px solid #4DD6C4;
  box-shadow: 4px 4px 10px #389488;
  border-radius: 20px;
  font: 500 16px/22px 'Roboto';
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5px 20px;
  transition: all .3s;
  margin: 0px 0px 20px 0px;
}

.add__form:hover {
  transform: translateY(-5px);
  transition: all .3s;
}
.form {
  width: 280px;
  background: url(../images/form-bg.png) no-repeat;
  padding: 10px 10px;
  margin: 0px 0px 20px 0px;
}

.form__wrap--bg {
  width: 100%;
  background: #D1D8E3;
  border-radius: 20px;
  text-align: center;
  padding: 0px 0px 37px 0px;
}

.form__top--title {
  font: 500 14px/16px 'Roboto';
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
}

.form__top {
  position: relative;
  background: #4CD1C0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  padding: 20px 10px 0px 0px;
  text-align: right;
  margin: 0px 0px 10px 0px;
  }

.form__top--icon {
    position: absolute;
    top: -3px;
    left: 65px;
  }
  
.form__top--logo {
    position: absolute;
    top: 15px;
    left: 5px;
  }

input.name {
  display: inline-block;
  background: #FFFFFF;
  border: 2px solid #4DD6C4;
  box-shadow: 4px 4px 10px rgba(54, 95, 89, 0.25);
  border-radius: 40px;
  width: 175px;
}

input.name::placeholder {
  font: 500 11px/13px 'Roboto';
  text-transform: uppercase;
  color: #D1D8E3;
  text-align: center;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 15px 10px 10px 10px;
  margin: 0px 0px 7px 0px;
}

.form__label {
  font: 500 11px/13px 'Roboto';
  text-align: center;
  color: #808080;
}

.form__input {
  display: block;
  width: 220px;
  height: 30px;
  border: 2px solid #4CD1C0;
  border-radius: 20px;
  margin: 5px 0px 15px 0px;
  text-align: center;
  }

.form__input::placeholder {
  font: 500 12px/14px 'Roboto';
  color: #D1D8E3;
  text-align: center;
}

.form__wrap--percent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

input.date {
  width: 140px;
}
input.percent__input {
  width: 55px;
}

.button_form {
  background: #010A20;
  border: 1px solid #1D2121;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font: 500 9px/11px 'Roboto';
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 25px;
  position: relative;
  top: -37px;
  left: 25px;
  transition: all .4;
}

.button_form:hover {
  background: rgb(196, 22, 22);
  transition: all .4;
}

input:focus {
  background-color: #FFFccF;
}

.another_amount {
  line-height: 0;
  margin-bottom: 10px;
}

.visible_hidden {
  visibility: hidden;
}

/** Стили для модального окна ==================================================*/

.popup {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #4CD1C0; 
  color: #333333;
  max-width: 800px;
  padding: 85px 65px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-image: url(../img/close.png);
  background-size: cover;
}


.popup__content--text {
  background: #FFFFFF;
  padding: 50px 30px;
}

